server:
  port: 8082

spring:
  application:
    name: virement-service
  datasource:
    url: jdbc:h2:mem:virement-db
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

feign:
  hystrix:
    enabled: true

logging:
  level:
    com.bank.virementservice: DEBUG

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
