spring:
  application:
    name: discovery-service

server:
  port: 8761

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false
