spring:
  application:
    name: chatbot-service

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
